* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
    padding-top: 50px;
    height: 100vh;
}

.wood__logo {
    width: 100vw;
    height: 100vh;
    background: url('../img/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}