* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
    padding-top: 50px;
    height: 100vh;
}

.wood__logo {
    width: 100vw;
    height: 100vh;
    background: url("../img/logo.png") center/cover no-repeat;
}

.hidden {
    display: none;
}

.page__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0, .7);
    border-radius: 0 0 15px 15px;
    backdrop-filter: blur(10px);
}